<article class="post-item">
    <h3>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h3>
    <div>{{ .Description }} <b><a href="{{ .RelPermalink }}">Read More</a></b></div>
    {{/* format date string to create an ISO 8601 string */}}
    {{ $ISO_date := "2006-01-02T15:04:05Z0700" }}
    <div class="text-right">
        
        <time class="post-item-meta" datetime="{{ dateFormat $ISO_date .Date }}">
            {{ .Date | time.Format ":date_medium" }}
        </time>
    </div>
</article>
<hr>
