<article class="post-item">
    <h3>
        {{ if and (not (strings.Contains .RelPermalink "/golang/")) (not (strings.Contains .RelPermalink "/javascript/")) }}
            <a href="{{ .RelPermalink }}">{{ .Title }}  </a>
        {{ else }}
            {{ if strings.Contains .RelPermalink "/golang/" }}
                <a href="https://golang.withcodeexample.com/blog/{{ .Slug }}?utm_source=home&utm_medium=title">{{ .Title }} </a>
            {{ else if strings.Contains .RelPermalink "/javascript/" }}
            <a href="https://javascript.withcodeexample.com/blog/{{ .Slug }}?utm_source=home&utm_medium=title">{{ .Title }} </a>
            {{ end }}
        {{ end }}
    </h3>
    <div>{{ .Description }} <b>
        {{ if and (not (strings.Contains .RelPermalink "/golang/")) (not (strings.Contains .RelPermalink "/javascript/")) }}
            <a href="{{ .RelPermalink }}">Read More </a>
        {{ else }}
            {{ if strings.Contains .RelPermalink "/golang/" }}
                <a href="https://golang.withcodeexample.com/blog/{{ .Slug }}?utm_source=home&utm_medium=read_more">Read More</a>
            {{ else if strings.Contains .RelPermalink "/javascript/" }}
            <a href="https://javascript.withcodeexample.com/blog/{{ .Slug }}?utm_source=home&utm_medium=read_more">Read More</a>
            {{ end }}
        {{ end }}
    </b></div>
    {{/* format date string to create an ISO 8601 string */}}
    {{ $ISO_date := "2006-01-02T15:04:05Z0700" }}
    <div class="text-right">
        
        <time class="post-item-meta" datetime="{{ dateFormat $ISO_date .Date }}">
            {{ .Date | time.Format ":date_medium" }}
        </time>
    </div>
</article>
<hr>
